<br-modal br-title="{{$ctrl.title}}">
  <br-modal-body>
    <div ng-if="$ctrl.display.requestForm">
      <h4 ng-if="!$ctrl.readOnly" style="margin-left:10px">
        Enter your email address and we will send you a link to set your password.
      </h4>
      <h4 ng-if="$ctrl.readOnly" style="margin-left:10px">
        We will send you an email with a link to set your password.
      </h4>
      <form name="$ctrl.requestForm"
        class="br-flex-vertical-children br-flex-stretch-children-width">
        <br-input br-model="$ctrl.sysIdentifier"
          br-options="{
            name: 'sysIdentifier',
            label: 'Email',
            showValidation: true,
            type: 'email',
            theme: 'material'
          }" br-input-required br-input-autofocus br-input-ng-readonly="$ctrl.readOnly">
          <br-input-help>
            Please enter the email address that you used when you registered
            with this website.
          </br-input-help>
          <br-input-validation-errors>
            <div ng-messages="$ctrl.requestForm.sysIdentifier.$error">
              <div ng-message="required">Email is required.</div>
              <div ng-message="email">Email must be a valid email address.</div>
            </div>
          </br-input-validation-errors>
        </br-input>
      </form>
    </div>
    <div ng-if="$ctrl.display.requestSubmitted">
      <h4>An email has been sent with a link to set your password.</h4>
      <h4>Email sent to: {{$ctrl.sysIdentifier}}</h4>
    </div>
  </br-modal-body>
  <br-modal-footer>
    <div align="right">
      <md-button ng-if="$ctrl.display.requestForm"
        ng-click="$ctrl.stackable.close()">
        Cancel
      </md-button>
      <md-button ng-if="$ctrl.display.requestForm" class="md-primary md-raised"
        ng-click="$ctrl.submit()"
        ng-disabled="$ctrl.requestForm.$invalid">
        Send
      </md-button>
      <md-button ng-if="$ctrl.display.requestSubmitted" class="md-primary md-raised"
        ng-click="$ctrl.stackable.close()">
        Close
      </md-button>
    </div>
  </br-modal-footer>
</br-modal>
