<form name="$ctrl.loginForm" class="br-flex-vertical-children br-flex-stretch-children-width">
  <br-input br-model="$ctrl.sysIdentifier"
    ng-keypress="$event.which == 13 && $ctrl.login()"
    br-options="{
      name: 'sysIdentifier',
      label: 'Email',
      theme: 'material',
      type: 'email'
    }"
    br-input-autofocus>
    <br-input-help>
      Please enter the email address that you used when you registered
      with this website.
    </br-input-help>
    <br-input-validation-errors>
      <div ng-messages="$ctrl.loginForm.sysIdentifier.$error">
        <div ng-message="email">Email is not a valid email address.</div>
      </div>
    </br-input-validation-errors>
  </br-input>
  <div ng-if="$ctrl.multiple">
    <div class="form-group">
      <p class="alert alert-info">
        <strong>Note:</strong>
        Your email address (<strong>{{$ctrl.email}}</strong>) is
        associated with multiple identities. Please select the
        identity you'd like to sign in with.
      </p>
    </div>
    <br-select ng-if="$ctrl.multiple" br-model="$ctrl.sysIdentifier"
      br-items="$ctrl.choices" br-display-item="item.label"
      br-options="{
        name: 'sysIdentifier', label: 'Identity',
        placeholder: 'Choose...', key: 'id'
      }">
    </br-select>
  </div>
  <br-input ng-show="!$ctrl.multiple" br-model="$ctrl.password"
    ng-keypress="$event.which == 13 && $ctrl.login()"
    br-options="{
      name: 'password',
      type: 'password',
      label: 'Password',
      theme: 'material'
    }">
    <br-input-help>
      Please enter your password.
    </br-input-help>
  </br-input>
  <md-button class="md-raised md-primary"
    style="margin: 20px 0 0 0"
    ng-disabled="$ctrl.loading"
    ng-click="$ctrl.login()"><i class="fa fa-sign-in"></i>
    Sign In
    <span ng-show="$ctrl.loading">
      <i class="fa fa-refresh fa-spin"></i>
    </span>
  </md-button>
  <div class="br-flex-horizontal-children br-flex-push-children-right"
    style="margin-top: 10px">
    <a ng-hide="$ctrl.loading" ng-click="$ctrl.showModal.resetPassword=true">
      Forgot your password?
    </a>
    <span ng-show="$ctrl.loading" class="text-muted">Forgot your password?</span>
  </div>
</form>

<stackable-modal stackable="$ctrl.showModal.resetPassword">
  <br-authn-password-reset-request-modal
    br-sys-identifier="$ctrl.sysIdentifier"
    br-on-submit="$ctrl.sendPasscode(options)">
  </br-authn-password-reset-request-modal>
</stackable-modal>
